*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

.main {
  height: 72.3vh;
  width: 100%;
  background-size: cover;
  background-position: top;
  background-image: url(../assests/images/bg.jpg);
  padding-top: 200px;
}

.container {
  position: relative;
  min-height: 300px;
  width: 55%;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(to right, #6190e893, #a7bfe8de);
}

#quotes {
  /* font-family: "Satisfy", cursive; */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  font-family: "Parisienne", cursive;
}

#author {
  text-align: right;
  font-family: "Cuprum", sans-serif;
  font-weight: 400;
  font-size: 25px;
  position: absolute;
  bottom: 30%;
  right: 10%;
}

#btn {
  font-family: "Cuprum", sans-serif;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 0;
  background-color: #001a4993;
  /* border: 2px solid white; */
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

#tweet {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#tweet img {
  width: 40px;
  transition: all 0.5s;
}
#tweet img:hover {
  transform: scale(1.1);
}

#btn:hover {
  box-shadow: inset 0 0 0 2em #0d337a49;
}

#btn:active {
  background-color: #000f2b93;
}

.curl {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 5px;
  background: linear-gradient(
    45deg,
    #0000,
    #f3f3f3 45%,
    #ddd 50%,
    #aaa 50%,
    #bbb 56%,
    #ccc 62%,
    #f3f3f3 80%,
    #0000 100%
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}
.curl:before,
.curl:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
  transform: skew(10deg) rotate(6deg);
}

@media (max-width: 1350px) {
  #quotes {
    font-size: 30px;
  }

  .container {
    height: 300px;
  }

  #author {
    bottom: 20%;
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  #quotes {
    font-size: 30px;
  }

  .container {
    width: 85%;
    height: 400px;
  }

  #author {
    bottom: 20%;
    font-size: 20px;
  }
}
